<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/e575bfee69.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
     <nav class="navbar">
      <div class=container>
      
      
      <%= link_to 'Bookers', root_path %>
      
      <ul>
      <li>
      <%= link_to 'Home', user_path(current_user.id) %>
      </li>
      <li>
      <%= link_to 'Users', users_path %>
      </li>
      <li>
      <%= link_to 'Books', books_path %>
      </li>
      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
      </ul>
      </div>
     </nav>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
